<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" href="/static/css/styles.css" />
  <title>Rocksphera</title>
</head>

<body>

  <%- include("./partials/header.ejs") %> 




  carrusel aca

  <h3 class="index-h3">Nuestros Recomendados</h3>

  <section class="index-section">

        <% vinilos.forEach( vinilo=>{ %>
          <div class="index-card">
            <div class="index-card-image">
              <a href="/productDetail/<%=vinilo.id%>"> <img src="static/imagen/<%= vinilo.img %>" alt=""></a>
            </div>
          </div>
          <div class="index-card-text">
            <p>aca va una descricion</p>
          </div>
          
        
          <%})%>

    </section>

    <h3 class="index-h3">Una Oportunidad Increible</h3>


    <% vinilosRecomendado.forEach( vinireco=>{ %>
      <div class="index-card">
        <div class="index-card-image">
          <a href="/productDetail/<%=vinireco.id%>"> <img src="static/imagen/<%= vinireco.img %>" alt=""></a>
        </div>
      </div>
      <div class="index-card-text">
        <p>aca va una descricion</p>
      </div>
      
    
      <%})%>


    
   <!--    </div>
      <div class="index-card-text">
        <p>aca va una descricion</p>
      </div>
    </div>

    <div class="index-card">
      <div class="index-card-image">
        <a href="/productDetail/:productId">
          <img src="static/imagen/the-wall-pink-floyd.jpg" alt="Pink Floyd" /></a>
      </div>
      <div class="index-card-text">
        <p>aca va una descricion</p>
      </div>
    </div>

    <div class="index-card">
      <div class="index-card-image">
        <a href="/productDetail/:productId">
          <img src="static/imagen/races-queen.jpg" alt="Queen" /></a>
      </div>
      <div class="index-card-text">
        <p>aca va una descricion</p>
      </div>
    </div>
    <div class="index-card">
      <div class="index-card-image">
        <a href="/productDetail/:productId">
          <img src="static/imagen/born-bruce-springsteen.jpg" alt="Bruce Springsteen" /></a>
      </div>
      <div class="index-card-text">
        <p>aca va una descricion</p>
      </div>
      </div>
      <div class="index-card">
        <div class="index-card-image">
          <a href="/productDetail/:productId">
            <img src="static/imagen/fra-doors.jpeg" alt="The Doors" /></a>
        </div>
        <div class="index-card-text">
          <p>aca va una descricion</p>
        </div>
      </div>
      <div class="index-card">
        <div class="index-card-image">
          <a href="/productDetail/:productId">
            <img src="static/imagen/the-razors-ac-dc.jpg" alt="AC-DC" /></a>
        </div>
        <div class="index-card-text">
          <p>aca va una descricion</p>
        </div>
      </div>
      <div class="index-card">
        <div class="index-card-image">
          <a href="/productDetail/:productId">
            <img src="static/imagen/for-sale-david-bowie.jpg" alt="" /></a>
        </div>
        <div class="index-card-text">
          <p>aca va una descricion</p>
        </div>
      </div>
      </section>
      
      <section>
        <h3 class="index-h3">Una oportunidad increible</h3>
      
        <div class="index-oportunidad">
          <div class="index-card">
            <div class="index-card-image">
              <a href="/productDetail/:productId">
                <img src="static/imagen/for-sale-roxy.jpeg" alt="" /></a>
            </div>
            <div class="index-card-text">
              <p>aca va una descricion</p>
            </div>
          </div>
          <div class="index-card">
            <div class="index-card-image">
              <a href="/productDetail/:productId">
                <img src="static/imagen/for-sale-fleetwood-mac.jpg" alt="" /></a>
            </div>
            <div class="index-card-text">
              <p>aca va una descricion</p>
            </div>
          </div>
          <div class="index-card">
            <div class="index-card-image">
              <a href="/productDetail/:productId">
                <img src="static/imagen/for-sale-beatles.jpg" alt="" /></a>
            </div>
            <div class="index-card-text">
              <p>aca va una descricion</p>
            </div>
          </div>
        </div>
      </section> -->
      
      <%-include("./partials/footer.ejs") %>
</body>


</html>
