<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stylesForm.css">
    <link rel="stylesheet" href="/static/css/styles.css" >
    <title>Rocksphera</title>
</head>
<body>

  
  <%-include("./partials/header.ejs") %>


<body>
    <main>
        <form class="formulario" method="POST"action="/users/login">
        <h3 class="register-h3">Ingresá a tu cuenta</h3>
        <div class="cajacampos">
            
            <div>
              <label for="name" class="register-h4">E-mail:</label>
              <input
               type="e-mail"
               name="email"
                            
               class="campo <%= locals.errors && errors.email ? 'is-invalid' : null %>"/>   

               <% if (locals.errors && errors.email) { %>
                 <div class="text-danger">
                 <%= errors.email.msg %>
               </div>
               <% } %>
              </div>

             <div>
             <label for="name" class="register-h4">Contraseña:</label>
             <input 
              type="password"
              name="contrasena"
              
              class="campo <%= locals.errors && errors.contrasena ? 'is-invalid' : null %>"/>

              <% if (locals.errors && errors.contrasena) { %>
                <div class="text-danger">
                <%= errors.contrasena.msg %>
              </div>
              <% } %>
             </div>
             <div>
              <label  class="blanco" for="">
                <input type="checkbox"name="remember_user">Recordar mi usuario
              </label>
             </div>
             <div>
             <button type="submit" class="button">Ingresar</button> 
             </div>
             <div>
              <button type="reset" class="button">Borrar</button>
              </div>
          
             <hr/>
             <p>Al registrarte aceptas nuestros términos y condiciones de uso y privacidad.</p>
             <p>¿No tienes cuenta?<a class="link" href="/users/register"> Registrate!</a></p>
            
             </div>
        </form>
    </main>

    <%-include("./partials/footer.ejs") %>
    
    </body>
    
    
    </html>