<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stylesForm.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/stylesForm.css" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Rocksphera</title>
</head>

<body>

    <form id="formCreate" class="formulario" action="/products/create" method="POST" enctype="multipart/form-data">
        <h3 class="create-h3">Crear Producto</h3>
        <div class="cajacampos">
            <div>
                <label for="name" class="register-h4">Titulo</label>
                <input id="nameCreate" type="text" name="title" 
                class="campo <%=locals.errors && errors.title ? 'is-invalid' : null%>"
                value="<%= locals.oldData ? oldData.title : null %>" />
              <% if (locals.errors && errors.title) { %>
                <div class="text-danger">
                  <%= errors.title.msg %>
                </div>
                <% } %>

            </div>

            <div>
                <label for="name" class="register-h4">Compañia</label>
                <input type="text" name="company" 
                class="campo <%=locals.errors && errors.company ? 'is-invalid' : null%>"
                value="<%= locals.oldData ? oldData.company : null %>" />
              <% if (locals.errors && errors.company) { %>
                <div class="text-danger">
                  <%= errors.company.msg %>
                </div>
                <% } %>


            </div>

            <div>
                <label for="name" class="register-h4">Año</label>
                <input type="number" name="year" 
                class="campo <%=locals.errors && errors.year ? 'is-invalid' : null%>"
                value="<%= locals.oldData ? oldData.year : null %>" />
              <% if (locals.errors && errors.year) { %>
                <div class="text-danger">
                  <%= errors.year.msg %>
                </div>
                <% } %>

               </div>
            <div>
                <label for="name" class="register-h4">Precio</label>
                <input type="number" name="price" 
                class="campo <%=locals.errors && errors.price ? 'is-invalid' : null%>"
                value="<%= locals.oldData ? oldData.price : null %>" />
              <% if (locals.errors && errors.price) { %>
                <div class="text-danger">
                  <%= errors.price.msg %>
                </div>
                <% } %>
            </div>
            
            <div>
                <label for="name" class="register-h4">Género</label>
            </div>
            <div>
                <select name="genre" style="width: 100%" class="campo">
                    <option value="#">Seleccione el género...</option>
                    <% for (let i=0; i < genres.length; i++) { %>
                        <option value="<%=genres[i].id%>">
                            <%=genres[i].name%>
                        </option>
                        <% } %>
                </select>
                <class="campo <%=locals.errors && errors.genre ? 'is-invalid' : null%>"
                value="<%= locals.oldData ? oldData.genre : null %>" />
              <% if (locals.errors && errors.genre) { %>
                <div class="text-danger">
                  <%= errors.genre.msg %>
                </div>
                <% } %>

                
            </div>
            <div>
                <label for="name" class="register-h4">Artista</label>
            </div>
            <select name="artist" style="width: 100%" class="campo">
                <option value="#">Seleccione el artista...</option>
                <% for (let i=0; i < artist.length; i++) { %>
                    <option value="<%=artist[i].id%>">
                        <%=artist[i].name%>
                    </option>
                    <% } %>
            </select>
            

            <div>
                <label for="imagen" class="register-h4">Imagen</label>
                <input id="imageCreate" type="file" name="imagen" placeholder="Imagen" 
                class="campo <%=locals.errors && errors.imagen ? 'is-invalid' : null%>"
                value="<%= locals.oldData ? oldData.imagen : null %>" />
              <% if (locals.errors && errors.imagen) { %>
                <div class="text-danger">
                  <%= errors.imagen.msg %>
                </div>
                <% } %>



            </div>
            <div>

            <button type="submit" class ="button">Guardar</button>
          </div>
            <section class="errores"><ul></ul></section>

        </div>
    </form>


    <!-- /todos los productos -->

<script src="/static/js/createValidator.js"></script>

</body>

</html>