<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title> Detalle de producto</title>
</head>

<body>

    <%-include("./partials/header.ejs") %>


        <div class="index-card contenedor-img-descripcion">
            <div class="index-card-image">
                <img src="/static/imagen/<%= album.imagen %>" alt="">
            </div>


            <div class="index-card-text">
                <article class="tituloPrecio">



                   
                    <h4 class="tituloDisco">
                        <%= album.title%>
                    </h4>

                    <h3 class="precioDisco"> $ <%= album.price%>
                    </h3> <i class="fas fa-shopping-cart"></i>
                </article>


                <article class="descripcion">
                    <ul>
                        <li>Nombre: <%= album.title %>
                        </li>
                        <li>Sello: <%= album.company %>
                        </li>
                        <li>Año: <%= album.year %>
                        </li>
                    </ul>
                </article>
            </div>
        </div>

        <form action="/products/delete/<%= album.id%>?_method=DELETE" method="POST"
            enctype="multipart/form-data">
            <button type="submit">Eliminar</button>
        </form>



        <%-include("./partials/footer.ejs") %>


</body>

</html>