<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Detalle de producto</title>
  </head>

  <body>
    <%-include("./partials/header.ejs") %>

    <div class="detail-container">
      <h3 class="register-h3">Buena elección!</h3>
      <div class="cajadetail">
        <div class="card-image">
          <img
            class="cardimg"
            src="/static/imagen/<%= album.imagen %>"
            alt=""
          />
        </div>

        <div class="caja-text">
          <article class="tituloPrecio">
            <h4 class="tituloDisco"><%= album.title%></h4>
          </article>
          <hr />
          <article class="descripcion">
            <ul>
              <li>Artista: <%= album.artist.name %></li>
              <li>Genero: <%= album.genre.name %></li>
              <li>Sello: <%= album.company %></li>
              <li>Año: <%= album.year %></li>
            </ul>
          </article>
          <article class="caja-comprar">
            <h3 class="precioDisco">$ <%= album.price%></h3>
          </article>
        

        
          <button type="submit" class="button"><a href="/products">Volver al listado</a>
         
          </button>
        
        
          <button type="reset" class="button">Comprar</button>
        
      </div>
    </div>

    <!----- <form action="/products/delete/<%= album.id%>?_method=DELETE" method="POST"
            enctype="multipart/form-data">
            <button type="submit">Eliminar</button>
        </form>------>

    <%-include("./partials/footer.ejs") %>
  </body>
</html>
