<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocksphera</title>
</head>
<body>

    <%-include("./partials/header.ejs") %>


    <div>
    <H1>Hola! <%=user.name%> </H1>
    <img src="/static/imagen/users/<%=user.imagen%>" alt="img  user">
    <br>
    <br>
    <h3><%=user.email%></h3>
    </div>
    <%-include("./partials/footer.ejs") %>
</body>
</html>