<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
 
  <link rel="stylesheet" href="/static/css/styles.css" />
  <title>Rocksphere</title>
</head>
<body>

    <%- include("./partials/header.ejs") %> 

 <% if (locals.userLogged.role == 9) { %>
  <div class="profile-container">
    <h3 class="register-h3">Bienvenido!</h3>
    
  <div class="profile-detail">
    <div class="profile_image" ><img class="profile-img"src="/static/imagen/users/<%=user.imagen%>" alt="imguser"></div>
    <div class="profile_name"><h2>Hola <%=locals.user.name%> ! </h2>
      <hr>
    <div class="profile_text">
      
    
       <p>Usuario administrador: <%=locals.user.email%><p>
     <br>
    
        <button><a href="/products/create">Crear Album</a></button>

          <% } else { %>
            <div class="profile-container">
              <h3 class="register-h3">Bienvenido!</h3>
              
            <div class="profile-detail">
              <div class="profile_image" ><img class="profile-img"src="/static/imagen/users/<%=user.imagen%>" alt="imguser"></div>
              <div class="profile_name"><h2>Hola <%=locals.user.name%> ! </h2>
                <hr>
              <div class="profile_text">
                <h2>Usuario: <%=locals.user.email%></h2>
                <br>
         
        <button ><a href="#">comprar</a></button>
            <% } %>
        
      </div>
    </div>
     
    </div>

    
   
  
    
    
    <%-include("./partials/footer.ejs") %>
</body>
</html>